html {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black; 
    width: 400px; 
    background-color: rgb(166, 216, 247);
    border-radius: 5px;
}

#brand {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.screen {
    width: 90%; 
    height: 35px; 
    font-size: 200%;
    background-color: lightgrey; 
    text-align: right;
    margin-top: 15px; 
    margin-left: 10px; 
    padding-left: 15px; 
}

button {
    height: 50px;
    width: 100%; 
    border: 1px solid; 
    border-radius: 5px;
    font-size: 125%; 
}

button:hover {
    background-color: lightgrey;
}

#clear {
    display: grid;
    justify-content: end; 
    grid-template-columns: 83px;
    padding-right: 15px; 
    padding-top: 15px; 
    text-align: right;
}

#buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
    padding: 15px; 
}